button{
    border:none;
    border-radius: 10px;
    font-size: var( --primary-size);
    transition: all 0.7s;
    cursor:pointer;
}
button:hover{
    background-color: #363535;
}
.numberBtn{
background-color: var(--btn--bg-color);
color:var(--nmb-btn-color);
margin:0 7px 0 7px;
}
.symbolBtn{
    background-color: var(--btn--bg-color);
    color: var(--sym-btn-color);
    margin:0 7px 0 7px;
}

.modeBtn{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.DarkBtn{
background-image: url('../../../assets//dark_mode.svg');
background-repeat: no-repeat;
background-position: center;
margin:0 7px 0 7px;

}
.LightBtn{
    background-image: url('../../../assets//light_mode.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin:0 7px 0 7px;
   

}