.container{
    width: 100%;
    min-height: 100vh;
    background-image: url('../../assets//i.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculate{
width: 600px;
height: 800px;
background-color: #1B1E32;
border-radius: 15px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;

}