body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*  */

:root{
  --primary-size:24px;
  --btn-border:5px;
  --calc-bg:#000000;
  --btn--bg-color:#242424;
  --nmb-btn-color:white;
  --sym-btn-color:#ED8114;
  --display-result-size:30px;
}